body{
    background: rgb(255, 196, 196);
}

.container {
    margin-top: 50px;
}
.noose{
    width: 55%;
    top: 4%;
    left: 5%;
    position: absolute;
    z-index: 1;
}
  
.face{
    width: 36%;
    position: absolute ;
    top: 15%;
    right: 25%;
    z-index: 3;
}

.shirt{
    position: absolute ;
    width: 50%;
    top: 26.8%;
    right: 16.7%;
    z-index: 2; 
}
.arms{
    position: absolute ;
    width: 50%;
    top: 26.5%;
    right: 18.2%;
    z-index: 1; 
}

.short{
    width: 48%;
    position: absolute ;
    top: 45%;
    right: 19%;
    z-index: 5;
}

.legs{
    width: 40%;
    position: absolute ;
    top: 60%;
    right: 21%;
    z-index: 4;
}
.btn {
    width:20%;
    margin-bottom: 2%;
}

.letter-container{
    border-bottom: 5px solid orange;
    font-size: xx-large;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
}

.title{
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
}
