
#score-container{
    font-size: 100%;
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    text-align: right;
}

#username-container{
    font-size: 200%;
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive;
    text-align: left;
}

.container {
    margin-top: 50px;
}
.noose{
    width: 55%;
    top: 4%;
    left: 5%;
    position: absolute;
    z-index: 1;
}
  
.face{
    width: 36%;
    position: absolute ;
    top: 15%;
    right: 25%;
    z-index: 3;
}

.shirt{
    position: absolute ;
    width: 50%;
    top: 26.8%;
    right: 16.7%;
    z-index: 2; 
}
.arms{
    position: absolute ;
    width: 50%;
    top: 26.5%;
    right: 18.2%;
    z-index: 1; 
}

.short{ 
    width: 48%;
    position: absolute ;
    top: 51%;
    right: 18%;
    z-index: 5;
}

.legs{
    width: 40%;
    position: absolute ;
    top: 62%;
    right: 21%;
    z-index: 4;
}  

.hat{
    width: 36%;
    position: absolute ;
    top: 15%;
    right: 25%;
    z-index: 4;
}

.btn {
    width:20%;
    margin-bottom: 2%;
    font-family: 'Luckiest Guy', cursive;
}

.letter-container{
    
    width: 3%;
    border-bottom: 3px solid rgb(8, 6, 0); 
   
    font-size: 200%;
    font-weight: bold;
    font-family:'Luckiest Guy', cursive;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 0px;
    
}
.empty-space{
    width: 7%;
}

.title{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Rampart One', cursive; 
}
.error{
    font-weight: bold;
    color: red;
}
.modal-content{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

/* Rampart One', cursive; */
/* 'Raleway', sans-serif; */
/* 'Roboto', sans-serif; */
/* font-family: 'Luckiest Guy', cursive; */